
@using CourseApp.UI.ViewModel


﻿@{
    ViewData["Title"] = "Edit";
}
@model StudentEditVM
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <h2>Student  Edit</h2>
        </div>
        <div class="col-md-8">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Fullname">Fullname</label>
                    <input class="form-control" asp-for="Fullname">
                    <span class="text-danger" asp-validation-for="Fullname"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GroupId">Group</label>
                    <select asp-for="GroupId" class="form-control" >
                        @foreach (GroupViewModelItem item in ViewBag.Groups)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <span asp-validation-for="GroupId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Point">Point</label>
                    <input class="form-control" asp-for="Point">
                    <span class="text-danger" asp-validation-for="Point"></span>
                </div>
             
                <div class="form-group">
                    <label asp-for="ImageFile">ImageFile</label>
                    <input class="form-control" asp-for="ImageFile">
                    <span class="text-danger" asp-validation-for="ImageFile"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>